* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: "roboto", "sans serif";
  margin: 0;
  text-align: center; }

h1 {
  color: #0d0d49;
  font-size: 27px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

p {
  font-size: 15px; }

li {
  font-size: 15px;
  list-style: none; }

.contenedor {
  max-width: 1400px;
  margin: auto; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  header .img-header {
    margin-top: 20px;
    width: 30%;
    border-radius: 50%;
    border: solid #000000; }

nav a {
  color: #ffffff !important; }

main .main-img {
  height: 300px;
  width: 300px; }

main .form {
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%; }
  main .form .boton-enviar {
    background-color: #0d0d49;
    color: #ffffff; }

/*Main productos*/
/*Aplico maps*/
.main-productos {
  /*Maps*/
  width: 100%;
  margin: auto;
  overflow: hidden; }
  .main-productos ul {
    /*Maps*/
    display: flex;
    padding: 0;
    width: 300%;
    animation: productos 20s infinite; }
  .main-productos li {
    /*Maps*/
    width: 100%;
    list-style: none; }
  .main-productos img {
    /*Maps*/
    width: 100%;
    height: 80%; }

/*Main contacto*/
.mapa-contacto {
  width: 100%; }

/*Main nosotros*/
.main-nosotros img {
  width: 100%; }

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden; }
  .slider ul {
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 20s infinite; }
  .slider li {
    width: 100%;
    list-style: none; }
  .slider img {
    width: 80%;
    height: 70%; }

footer {
  background-color: #0d0d49;
  color: #ffffff; }
  footer .redes {
    padding: 0%;
    display: flex;
    justify-content: center; }
    footer .redes img {
      width: 40%; }

/*Empiezo a aplicar media queries*/
/*Uso Mixin*/
@media screen and (min-width: 768px) {
  header .logo {
    /*Mixin*/
    display: flex;
    flex-direction: row; }
    header .logo .img-header {
      left: 0;
      margin-top: 0;
      width: 12%; }
  header h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; }
  header .contacto {
    margin-top: 2%;
    padding: 0%;
    right: 0%;
    display: flex;
    flex-direction: row; }
  .redes a {
    display: flex;
    justify-content: space-around; }
  /*Productos*/
  header .logo-productos {
    display: flex;
    flex-direction: row;
    left: 0;
    margin-top: 0; }
    header .logo-productos .img-productos {
      width: 12%; }
    header .logo-productos h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center; }
    header .logo-productos .contacto-productos {
      margin-top: 2%;
      padding: 0%;
      right: 0%;
      display: flex;
      flex-direction: row; }
  /*Contacto*/
  header .logo-contacto {
    left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row; }
    header .logo-contacto .img-contacto {
      width: 12%; }
    header .logo-contacto h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center; }
    header .logo-contacto .contacto-contact {
      margin-top: 2%;
      padding: 0%;
      right: 0%;
      display: flex;
      flex-direction: row; }
  /*Nosotros*/
  header .logo-nosotros {
    left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row; }
    header .logo-nosotros .img-nosotros {
      width: 12%; }
    header .logo-nosotros h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center; }
    header .logo-nosotros .contacto-nosotros {
      margin-top: 2%;
      padding: 0%;
      right: 0%;
      display: flex;
      flex-direction: row; }
  /*Servicios*/
  header .logo-servicios {
    left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row; }
    header .logo-servicios .img-servicios {
      width: 12%; }
    header .logo-servicios h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center; }
    header .logo-servicios .contacto-servicios {
      margin-top: 2%;
      padding: 0%;
      right: 0%;
      display: flex;
      flex-direction: row; } }

@media screen and (min-width: 1024px) {
  .contacto ul {
    right: 0;
    margin-top: 3%;
    display: flex; }
  .contacto li {
    padding: 15px; }
  nav {
    padding-top: 20px;
    padding-bottom: 20px; }
  main .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Uso extend*/ }
    main .main .main-img {
      width: 560px;
      height: 336px;
      padding: 20px; }
    main .main .main-text {
      display: grid;
      padding: 20px; }
    main .main a {
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 20px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      background-color: #0d0d49;
      color: #ffffff; }
    main .main .marcas, main .main .parrafo {
      padding: 30px; }
    main .main .parrafo {
      font-weight: bold; }
  .redes {
    padding: 0%;
    display: flex;
    justify-content: center; }
  /*Productos*/
  .contacto-productos ul {
    right: 0;
    margin-top: 5.5%;
    display: flex; }
  .contacto-productos li {
    padding: 15px; }
  main .main-productos {
    /*Maps*/
    width: 100%;
    margin: auto;
    overflow: hidden; }
    main .main-productos ul {
      display: flex;
      padding: 0;
      /*Maps*/
      width: 300%;
      animation: productos 20s infinite; }
    main .main-productos li {
      /*Maps*/
      width: 100%;
      list-style: none; }
    main .main-productos img {
      width: 80%;
      height: 70%; }
  main .tabla-productos {
    /*Maps*/
    width: 90%;
    display: grid;
    grid-auto-rows: 100px; }
  main .card-group img {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px; }
  /*Contacto*/
  .contacto-contact ul {
    right: 0;
    margin-top: 5.5%;
    display: flex;
    flex-direction: row; }
  .contacto-contact li {
    padding: 15px; }
  .main-contacto {
    padding-top: 20px;
    padding-bottom: 40px; }
  /*Nosotros*/
  .contacto-nosotros ul {
    right: 0;
    margin-top: 5.5%;
    display: flex;
    flex-direction: row; }
  .contacto-nosotros li {
    padding: 15px; }
  .slider {
    width: 95%;
    margin: auto;
    overflow: hidden; }
    .slider ul {
      display: flex;
      padding: 0;
      width: 200%;
      animation: cambio 20s infinite; }
    .slider li {
      width: 100%;
      list-style: none; }
    .slider img {
      width: 80%;
      height: 70%; }
  /*Servicios*/
  .contacto-servicios ul {
    right: 0;
    margin-top: 5.5%;
    display: flex;
    flex-direction: row; }
  .contacto-servicios li {
    padding: 15px; }
  .main-servicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; } }

.boton-wpp {
  text-align: end;
  padding-right: 20px;
  position: fixed;
  line-height: 75px;
  bottom: 10%;
  right: 0;
  color: #ffffff;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
  z-index: 100%; }
  .boton-wpp img {
    width: 7%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -200%; } }

@keyframes productos {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  75% {
    margin-left: -200%; } }
