
$color-primary: #0d0d49;
$color-secondary: #ffffff;


footer{
    background-color: $color-primary;
    color: $color-secondary;
    padding-top: 20px;
    
    .redes{
        padding: 0%;
        display: flex;
        justify-content: center;

       img {
           width: 40%;
       }
    }
}