
$color-primary: #0d0d49;
$color-secondary: #ffffff;

main {
    .main-img {
        height: 300px;
        width: 300px;
    }
    .form {
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;

        .boton-enviar {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
}

/*Main productos*/

/*Aplico maps*/
$widths: (
    300: 300%,
    100: 100%,
    90: 90%,
    80: 80%
);


.main-productos {
    /*Maps*/
    width: map-get($widths, 100);
    margin: auto;
    overflow: hidden;

    ul {
        /*Maps*/
        display: flex;
        padding: 0;
        width: map-get($widths, 300);

        animation: productos 20s infinite;
    }

    li {
        /*Maps*/
        width: map-get($widths, 100);
        list-style: none;
    }

    img {
        /*Maps*/
        width: map-get($widths , 100);
        height: 80%;
    }
}

/*Main contacto*/

.mapa-contacto{
    width: 100%;
}

/*Main nosotros*/

.main-nosotros {
    img {
        width: 100%;
        }
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;

    ul {
        display: flex;
        padding: 0;
        width: 200%;

        animation: cambio 20s infinite;
    }

    li {
        width: 100%;
        list-style: none;
    }

    img {
        width: 80%;
        height: 70%;
    }
}
