@import "./index/header";
@import "./index/nav";
@import "./index/main";
@import "./index/footer";
@import "./productos/header-prod";
@import "./productos/nav-prod";
@import "./productos/main-prod";
@import "./productos/footer-prod";
@import "./contacto/header-cont";
@import "./contacto/nav-cont";
@import "./contacto/main-cont";
@import "./nosotros/header-nos";
@import "./nosotros/nav-nos";
@import "./nosotros/main-nos";
@import "./servicios/header-serv";
@import "./servicios/nav-serv";
@import "./servicios/main-serv";

$color-primary: #0d0d49;

* {
    box-sizing: border-box;
    margin: 0;
}
body { 
    font-family: "roboto", "sans serif";
    margin: 0;
    text-align: center;
}

h1{color: $color-primary;
    font-size: 27px;}
h2{font-size: 25px;}
h3 {font-size: 20px;}
p {font-size: 15px;}
li { font-size: 15px;
    list-style: none;
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
}

@keyframes productos {
    0% {margin-left: 0;}
    20%{margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    75% {margin-left: -200%;}
}
