@import "./index/header";
@import "./index/nav";
@import "./index/main";
@import "./index/footer";
@import "./productos/header-prod";
@import "./productos/nav-prod";
@import "./productos/main-prod";
@import "./contacto/header-cont";
@import "./contacto/nav-cont";
@import "./contacto/main-cont";
@import "./nosotros/header-nos";
@import "./nosotros/nav-nos";
@import "./nosotros/main-nos";
@import "./servicios/header-serv";
@import "./servicios/nav-serv";
@import "breakpoints.scss";


@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
}

@keyframes productos {
    0% {margin-left: 0;}
    20%{margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    75% {margin-left: -200%;}
}
