* { 
    box-sizing: border-box;
}
.contenedor-productos { 
    font-family: "roboto", "sans serif";
    margin: 0;
    text-align: center;
    max-width: 1400px;
    margin: auto;
}

h1{color: $color-primary;
    font-size: 27px;}
h2{font-size: 25px;}
h3 {font-size: 20px;}
p {font-size: 15px;}
li { font-size: 15px;
    list-style: none;
}

header { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .img-productos{ 
        margin-top: 20px;
        width: 40%;
        border-radius: 50%;
        border: solid #000000;
    }
}

