/*Aplico maps*/
$widths: (
    300: 300%,
    100: 100%,
    90: 90%,
    80: 80%
);


.main-productos {
    /*Maps*/
    width: map-get($widths, 100);
    margin: auto;
    overflow: hidden;

    ul {
        /*Maps*/
        display: flex;
        padding: 0;
        width: map-get($widths, 300);

        animation: productos 20s infinite;
    }

    li {
        /*Maps*/
        width: map-get($widths, 100);
        list-style: none;
    }

    img {
        /*Maps*/
        width: map-get($widths , 100);
        height: 80%;
    }
}

@media screen and (min-width: 1024px) {
    main {
        .main-productos {
            /*Maps*/
            width:map-get($widths, 100);
            margin: auto;
            overflow: hidden;
    
            ul {
                display: flex;
                padding: 0;
                /*Maps*/
                width: map-get($widths, 300);
    
                animation: productos 20s infinite;
            }
    
            li {/*Maps*/
                width: map-get($widths, 100);
                list-style: none;
            }
    
            img {
                width: map-get($widths, 80);
                height: 70%;
            }
        }
    
        .tabla-productos {
            /*Maps*/
            width: map-get($widths, 90);
            display: grid;
            grid-auto-rows: 100px;
        }

        .card-group {
            img {
                display: flex;
                align-items: center;
                width: 300px;
                height: 300px;
            }
        }

    }
}