$color-primary: #0d0d49;
$color-secondary: #ffffff;


footer{
    background-color: $color-primary;
    color: $color-secondary;

    .redes{
        padding: 0%;
       display: flex;
       justify-content: center;

       img {
           width: 40%;
       }
    }

    .boton-wpp {
        text-align: end;
        padding-right: 20px;
        position: fixed;
        line-height: 75px;
        bottom: 10%;
        right: 0;
        color: $color-secondary;
        border-radius: 50px;
        font-size: 15px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
        z-index: 100%;

        img{
            width: 7%;
        }
    }

    @media screen and (min-width: 768px) {
        .redes {
            a {
                display: flex;
                justify-content: space-around;
            }
            
        }
    }

    @media screen and (min-width: 1024px) {
        .redes {
            padding: 0%;
            display: flex;
            justify-content: center;
        }
    }
}