$color-secondary: #ffffff;

nav {
    a {
        color: $color-secondary !important;
    }

    button {
        img {
        width: 30%;
        height: 30%;
        display: flex;
        }
        
    }

}

